body{
  background-color: black;
}
.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;

}
.text-center{
  text-align: center;
}
.expense-container{
display: flex;
justify-content: space-around;
background-color: white;
box-shadow: 0 0 10px gray;
}
.transaction-form{
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
}
.transaction-list{
  margin: 0;
  padding: 0;
}
.transaction-list > li{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding: 10px 5px;
  background-color: white;
  margin: 5px 0;
}
#btn{
  width: 100%;
  margin: 10px 0;
  background-color: cornflowerblue;
  color: white;
}








.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
